html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 15px 0;
    text-align: center;
    background-color: #f4f4f4;
}
