body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 30px;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .container {
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }
        input, select {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 20px;
            margin: 5px;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .generate-btn {
            background-color: #28a745;
        }
        .generate-btn:hover {
            background-color: #218838;
        }
        .download-btn {
            background-color: #007bff;
            display: none;
        }
        .download-btn:hover {
            background-color: #0056b3;
        }
        #qrcode {
            margin-top: 20px;
            padding: 10px;
            background: white;
            display: inline-block;
            display: flex;
            justify-content: center;
        }
        #qrcode canvas, #qrcode img {
    width: 200px; /* Reduce visualmente sin afectar la calidad */
    height: 200px;
        }
