body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
}
button:hover {
    background-color: #218838;
}
#qrcode {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#downloadBtn {
    display: none; /* Ocultar botón hasta generar el QR */
    background-color: #007bff;
}
#downloadBtn:hover {
    background-color: #0056b3;
}